$color: #4fa46c;

@mixin base {
    background-color: $color;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 4rem;
    box-shadow: 0 0.5rem 2rem rgba($color-black, 0.25);
}

@mixin base2 {
    background-color: $color;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.25);
}

.container {
    display: flex;
    flex-direction: column;
}
.row1 {
    display: flex;
    color: white;

    .no1 {
        flex: 1;

        @include base;
    }
    .no2 {
        flex: 2;
        @include base2;
    }
}

.row2 {
    display: flex;
    color: white;

    .no3 {
        flex: 4;
        @include base;
    }

    .no4 {
        flex: 1;
        @include base2;
    }
}

.row3 {
    display: flex;
    color: white;

    .no5 {
        flex: 1;
        @include base;
    }

    .no6 {
        @include base2;
    }
}
